html {
  font-family: helvetica, sans-serif;   
  color: white; 
}

body {
  width: 100%;
  height: 100%; 
  background-image: url(./svgs/background-image.png);
  background-size: 100%; 
  background-repeat: no-repeat;
  background-position: top center; 
}

header {
  width: 100%; 
  height: 3rem;
  background-image: url(./svgs/logo.svg);
  background-size: 4rem; 
  background-repeat: no-repeat;
  padding-top: 0.75rem;
}

nav {
  margin-left: 7rem; 
}

nav a {
  text-decoration: none; 
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 1rem;
}

.container {
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

#caption-container {
  flex-direction: column;
  align-items: center;
  margin-top: 3rem; 
}

#caption-container h1, h6 {
  margin: 0 0 1rem 0;
}

#caption-container h6 {
  font-size: 0.9rem;
  font-weight: normal; 
}

fieldset {
  border: none; 
  text-align: center;
}

#input {
  width: 27rem; 
  padding: 1rem;
  -webkit-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}

#input:focus {
  border: 1px solid #ee6123;
}

#button {
  width: 5rem; 
  background-color: #ee6123;
  padding: 1rem; 
  color: white;
  border: none;
  box-shadow: none;
}

ul#list {
  flex-direction: column;
  padding: 0; 
}

li {
  width: 32.5rem; 
  flex-direction: column;
  list-style: none;
  background-color: white; 
  padding: 1.25rem 1.25rem 0; 
  border-bottom: 1px solid #9b9b9b;
}

li a {
  display: block; 
  text-decoration: none; 
  color: white; 
}

li a.title {
  color: #444444;
}
li a.title:hover {
  text-decoration: underline;
}
li a.original {
  color: #9b9b9b;
}
li a.original:hover {
  text-decoration: underline;
}
li a.shortened {
  color: #ee6123;
}
li a.count {
  color: #9b9b9b;
}
li a.count:hover {
  text-decoration: underline;
}

.shortened-container {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem; 
  padding-bottom: 1.25rem;
}

li a div.click-icon {
  display: inline-flex;
  background-image: url(./svgs/click-icon.svg);
  margin-left: 0.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.25rem;
  height: 1rem;
  background-position: center 2px;
}

/*OPTIMIZED FOR DESKTOP*/
@media screen and (min-width: 1080px) {
  body {
    background-size: 110%; 
  }

  li {
    width: 32rem; 
  }
}

/*OPTIMIZED FOR TABLETS*/
@media screen and (min-width:768px) and (max-width:1024px) {
  html {
    font-size: 20px; 
  }

  body {
    background-size: 150%; 
  }

  #input, #button, nav a{
    font-size: 1rem; 
  }
}

/*OPTIMIZED FOR LARGER MOBILE DEVICES*/
@media screen and (min-width:401px) and (max-width: 760px) {
  html {
    font-size: 10px; 
  }

  body {
    background-size: auto; 
  }

  #input {
    width: 25.5rem;
  }

  #button {
    width: 7rem; 
  } 

  nav a {
    font-size: 1rem; 
  }

  #caption-container h6 {
    font-size: 1rem; 
  }
}

/*OPTIMIZED FOR SMALLER MOBILE DEVICES*/
@media screen and (max-width: 400px) {
  html {
    font-size: 10px; 
  }

  body {
    background-size: auto; 
  }

  li {
    width: 26rem;
  }

  nav {
    margin-left: 5rem;
  }

  nav a {
    font-size: 0.9rem; 
  }

  #input {
    width: 19rem;
  }

  #form-container {
    margin-top: 2rem;
  }

  #button {
    width: 7rem; 
  } 
}